<hr>
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
        <label>
          Parent-container works!
          <input class="form-control" type="text" #text (keydown)="inputFromParent($event, text.value)">
        </label>
        <h2>{{outputHandledFromChild}}</h2>
      </div>
      </div>
      <hr/>
        <app-child-container [titleFromChild]="titleFromParent"
                             (outputFromChild)="handleChangesChildOutput($event)">

        </app-child-container>
    </div>
  </div>
