<div class="row ">
  <div class="col-xl-6">
    <div class="card text-center mb-5">
      <div class="card-body">
        <label class="display-4">Parent-container works!</label>
        <input class="form-control " type="text" #text (keydown)="inputFromParent($event, text.value)">

        <h2>{{outputHandledFromChild}}</h2>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <app-child-container [titleFromChild]="titleFromParent"
                         (outputFromChild)="handleChangesChildOutput($event)">

    </app-child-container>
  </div>
</div>
